<div>

  <h4>Item id :: </h4>
  <%=item.item_id%>
  <h4>Item Price :: </h4>
  <%=item.price_cents/100 %>
  <h4>Item Quantity :: </h4>
  <%=item.quantity %>
  </br>
   <%= link_to  "Remove From Cart", shopping_cart_path(product_id: item.item_id),
                method: :delete,
                data: { confirm: 'Are you sure?' }  %>
                ==================================================
  </div> 
