<% for i in 0..(ENV['TIMES'] ? ENV['TIMES'].to_i : 2) do %>
  <p>Hello World #<%= i %>!</p>
<% end %>
 <head>
<style>
body{
    margin-left : 40%
}

</style>
</head>


<body>
<%= render 'layouts/header' %> 


<h1>All Products</h1>

<% @categories.each do |c| %>
<div>
<h1><%=c.name%> </h1>
<%= render :partial => 'products', :collection => c.products, :as => :p %>
</div>
<%end%>


</body> 





